* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #EFF0F3;
}

#root {
  font-family: Plus Jakarta Sans;
}

@font-face {
  font-family: Plus Jakarta Sans;
  src: url(../src/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #c6c6c6;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #1EAAF1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1c9bdb;
}