* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: #EFF0F3;
  font-family: Plus Jakarta Sans;
}

@font-face {
  font-family: Plus Jakarta Sans;
  src: url(../src/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
}

@media (min-width: 800px) and (max-width: 1285px) {
  .custom-media-query {
    height: 256px;
    width: 182px;
  }
}

@media (min-width: 800px) and (max-width: 1285px) {
  .custom-media-query:hover {
    height: 260px;
    width: 185px;
  }
}