* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: #EFF0F3;
  font-family: Plus Jakarta Sans;
}

@font-face {
  font-family: Plus Jakarta Sans;
  src: url(../src/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
}
